@model UMS.Quiz.Web.Models.KnowledgesSearchResult
@{
    Layout = null;
    var Count = 1;
}
<div>

    <p style="margin:10px 0 10px 0">
        Có <strong>@Model.RowCount</strong> nhân viên trong tổng số <strong>@Model.PageCount</strong> trang
    </p>

    @if (Model.Data.Count == 0)
    {
        <p class="text-center text-danger">Không tìm thấy kết quả nào.</p>
    } 
    else
    {
        <div class="table-responsive">
            <table class="table table-bordered table-hover ">

                <thead>
                    <tr class="bg-light ">
                        <th style="width:30px">STT</th>
                        <th>Tên khối kiến thức</th>
                        @* <th>Tên học phần</th> *@

                        <th style="width:110px " class="text-center">
                            <a href="~/Knowledges/Create" class="btn btn-success " style="padding: 1px 6px; font-size: 20px">
                                <i class="bi bi-plus-lg"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td>@Count</td> <!-- Hiển thị số thứ tự -->
                            <td>@item.KnowledgeName</td>
                           @*  <td id="_studyModuleName">@item.TermID.</td> *@
                            <td class="text-center">
                                <a href="~/Knowledges/Edit/@item.KnowledgeId" class="btn btn-xs btn-info">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a href="~/Knowledges/Delete/@item.KnowledgeId" class="btn btn-xs btn-danger">
                                    <i class="bi bi-x-circle-fill"></i>
                                </a>
                            </td>
                        </tr>
                        Count++;
                    }
                </tbody>

            </table>
        </div>

        @*Phân trang*@
        <div class="box-footer text-center">
            <ul class="pagination d-flex justify-content-center">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (i == Model.Page)
                    {
                        <li class="active page-item"><a class="page-link">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item "><a class="page-link" href="javascript:;" onclick="doSearch('#formSearch', @i)">@i</a></li>

                    }
                }
            </ul>
        </div>
    }

</div>
