@using UMS.Quiz.Web.Constants;
@model UMS.Quiz.Web.Models.TopicTemplateInput
@{
    ViewBag.Title = "Quản lý cấu trúc đề thi";
}

<div class="box box-primary  shadow-lg p-3 mb-5 rounded">
    <div class="box-body">
        <!-- Form nhập đầu vào tìm kiếm -->
        <form id="formSearch" action="~/TopicTemplates/Search" method="POST" data-container="#searchResult">
            <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />
            <div class="container-fluid row p-0">
                <div class="col-sm-2">
                    <label for="recipient-name" class="col-form-label fs-5">Học phần:</label>
                    <input type="hidden" id="_studyModuleId" name="@nameof(Model.TermID)" value="@Model.TermID" />
                    <select class="form-control" id="mySelect" overflow-y: scroll; name="Terms" disabled>
                        <option id="_studyModuleName" name="TermName"></option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label for="recipient-name" class="col-form-label fs-5">Thời gian thi:</label>
                    <select class="form-control" id="mySelect" overflow-y: scroll; name="@nameof(Model.ExamTime)">
                        <option selected="@(@Model.ExamTime == ExamTimeContant.DEFAULT)"
                                value="@ExamTimeContant.DEFAULT">
                            Tất cả thời gian thi
                        </option>

                        <option selected="@(@Model.ExamTime == ExamTimeContant.CHOOSE_FIFTEEN_TIME)"
                                value="@ExamTimeContant.CHOOSE_FIFTEEN_TIME">
                            15 Phút
                        </option>

                        <option selected="@(@Model.ExamTime == ExamTimeContant.CHOOSE_FORTY_FIVE_TIME)"
                                value="@ExamTimeContant.CHOOSE_FORTY_FIVE_TIME">
                            45 Phút
                        </option>

                        <option selected="@(@Model.ExamTime == ExamTimeContant.CHOOSE_SIXTY_TIME)"
                                value="@ExamTimeContant.CHOOSE_SIXTY_TIME">
                            60 Phút
                        </option>
                        <option selected="@(@Model.ExamTime == ExamTimeContant.CHOOSE_NINETY_TIME)"
                                value="@ExamTimeContant.CHOOSE_NINETY_TIME">
                            90 Phút
                        </option>
                        <option selected="@(@Model.ExamTime == ExamTimeContant.CHOOSE_ONE_TWENTY_TIME)"
                                value="@ExamTimeContant.CHOOSE_ONE_TWENTY_TIME">
                            120 Phút
                        </option>
                    </select>
                </div>
                <div class=" col-sm-8  ">
                    <label for="recipient-name" class="col-form-label fs-5 d-block">Tìm kiếm:</label>
                    <div class="d-flex align-items-center">
                        <input id="inputSearch" name="@nameof(Model.SearchValue)" type="text" class="form-control"
                               placeholder="Nội dung cần tìm kiếm" value="@Model.SearchValue">
                        <div class="d-flex align-items-end justify-content-start">
                            <button class="btn btn-info" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <!-- Hiển thị kết quả tìm kiếm -->
        <div id="searchResult"></div>
        
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        // xóa cấu trúc đề
        $(document).ready(function () {
            $('.delete-TopicTemplates').on('click', function () {
                return confirmDelete();
            });
            function confirmDelete() {
                return window.confirm('Bạn chắc chắn muốn xoá cấu trúc đề này?');
            }
        });


        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(this, 1);
                return false;
            });
            doSearch("#formSearch", @Model.Page);

            // theo dõi sự thay đổi của input search
            $('#inputSearch').change(function () {
                const searchValue = $(this).val();
                if (!searchValue) {
                    doSearch("#formSearch", @Model.Page);
                    return;
                }
            });
        });
        function doSearch(formSearch, page) {
            const url = $(formSearch).prop("action");
            console.log('===> urlsearch: ', url);
            const container = $(formSearch).data("container");
            var postData = $(formSearch).serializeArray();
            postData.push({ "name": "page", "value": page });

            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function (err) {
                    console.log('===> err: ', err);
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });
        }
    </script>
}