@using Newtonsoft.Json
@using UMS.Quiz.Web.Constants;
@using UMS.Quiz.Web.Models;
@using Newtonsoft;
@model UMS.Quiz.DomainModels.QuestionDetail
@{
    string errMsgKey = "ErrorMessage";
}
<div class="box box-primary shadow-lg p-3 mb-3 rounded">
    <div class="box-body">
        <form action="~/QuizDetail/Delete/@Model.QuestionDetailID" method="post">
            @* <input type="hidden" id="_studyModuleId" name="@nameof(Model.TermID)" value="@Model.TermID" /> *@
            <input id="@nameof(Model.QuestionDetailID)" type="hidden" name="@nameof(Model.QuestionDetailID)" value="@Model.QuestionDetailID" />
            <input id="@nameof(Model.KnowledgeId)" type="hidden" name="@nameof(Model.KnowledgeId)" value="@Model.KnowledgeId" />
            <div class="container-fluid row p-0 pb-3 ">
                <div class=" col-sm-2 ">
                    <label for="recipient-name" class="col-form-label fs-5">Học phần:</label>
                    <!-- UX "tồi" => Nên thay bằng radio hoặc checkbox -->
                    <select class="form-control" name="category" id="categorySelect" disabled>
                        <option id="_studyModuleName"></option>
                        @* @Html.ValidationMessage(nameof(Model.knowledges.KnowledgeName), new { @style = "color:#f00" }) *@
                    </select>
                </div>
                <div class=" col-sm-2 ">
                    <label for="recipient-name" class="col-form-label fs-5">Khối kiến thức:</label>
                    <input id="@nameof(Model.knowledges.KnowledgeName)" name="@nameof(Model.knowledges.KnowledgeName)" type="text" class="form-control"
                           value="@Model.knowledges!.KnowledgeName" disabled>
                </div>
                <div class="col-sm-4 dropdown ">
                    <label for="recipient-name" class="col-form-label fs-5">Kiểu câu hỏi:</label>
                    <select class="form-control" id="@nameof(Model.QuestionType)" overflow-y: scroll; name="@nameof(Model.QuestionType)">
                        @* <option selected="@(@Model.QuestionType == QuestionTypeConstant.DEFAULT)"
                        value="@QuestionTypeConstant.DEFAULT">
                        Chọn tất cả
                        </option>*@
                        <option selected="@(@Model.QuestionType == QuestionTypeConstant.CHOOSE_ONE_ANSWER)"
                                value="@QuestionTypeConstant.CHOOSE_ONE_ANSWER">
                            Câu hỏi chỉ chọn 1 trong số các đáp án
                        </option>

                        <option selected="@(@Model.QuestionType == QuestionTypeConstant.CHOOSE_MULTI_ANSWERS)"
                                value="@QuestionTypeConstant.CHOOSE_MULTI_ANSWERS">
                            Câu hỏi cho chọn nhiều đáp án trong số các đáp án
                        </option>

                        <option selected="@(@Model.QuestionType == QuestionTypeConstant.CHOOSE_TEXT_ANSWER)"
                                value="@QuestionTypeConstant.CHOOSE_TEXT_ANSWER">
                            Câu hỏi dạng điền từ(text) ngắn gọn
                        </option>
                    </select>
                </div>
                <div class=" col-sm-1 ">
                    <label for="recipient-name" class="col-form-label fs-5">Điểm:</label>
                    <input type="text" class="form-control" id="@nameof(Model.QuestionPoint)" name="@nameof(Model.QuestionPoint)" value="@Model.QuestionPoint">
                    @* <input type="text" class="form-control" id="recipient-name"> *@
                    @Html.ValidationMessage(nameof(Model.QuestionPoint), new { @style = "color:#f00" })
                </div>
            </div>

            @* ckEditor *@
            <textarea id="@nameof(Model.QuestionText)" name="@nameof(Model.QuestionText)">@Model.QuestionText</textarea>

            <input id="@nameof(Model.QuizQuestionAnswers)" name="@nameof(Model.QuizQuestionAnswers)" type="hidden"
                   value="@JsonConvert.SerializeObject(Model.QuizQuestionAnswers)" />
            @* <input id="@nameof(Model.QuizQuestionAnswersStr)" name="@nameof(Model.QuizQuestionAnswersStr)" type="hidden"
                   value="@JsonConvert.SerializeObject(Model.QuizQuestionAnswers)" />
 *@
            <div class="row py-2 px-3">
                <h5 class="px-0 pt-2">Câu trả lời và đáp án</h5>
                <table class="table table-bordered " id="myTable">
                    <thead>
                        <tr class="bg-light">
                            <th style="width:35px " class="p-1"></th>
                            <th class="col-9">Nội dung câu trả lời</th>
                            <th class="">Đáp án đúng</th>
                            <th class="">Tỷ trọng điểm (%)</th>
                        </tr>
                    </thead>
                    <tbody id="myTableBody">
                        <tr>
                            <td style="width: 35px" class="p-1 text-center">
                                <a id="addrow" href="javascript:void(0)" type="button" class="btn btn-light text-black add-row" style="padding: 1px 6px; font-size: 20px">
                                    <i class="bi bi-plus-lg"></i>
                                </a>
                            </td>
                            <td colspan="3">
                            </td>
                        </tr>
                        @foreach (var answer in Model.QuizQuestionAnswers)
                        {
                            <tr class="answerItem">
                                <input class="quizQuestionAnswerID" type="hidden" value="@answer.QuizQuestionAnswerID" />
                                <td style="width:35px" class="p-1 ">
                                    <a href="javascript:void(0)" class="btn btn-light text-black delete-row" data-quizQuestionAnswerID="@answer.QuizQuestionAnswerID"
                                       style="padding: 5px 5px; font-size: 20px">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                                <td>
                                    <input type="text" name="@nameof(answer.AnswerText)" class="form-control answerText" placeholder="Nhập đáp án"
                                           aria-label="Answer_Text"
                                           value="@answer.AnswerText">
                                </td>
                                <td>
                                    <select class="form-control isCorrect" name="IsCorrect">
                                        <option selected="@(answer.IsCorrect)" value="0">Sai</option>
                                        <option selected="@(answer.IsCorrect)" value="1">Đúng</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="number" name="@nameof(answer.PercenterValue)" class="form-control percenterValue" placeholder="Nhập trọng số điểm"
                                           aria-label="PercenterValue"
                                           value="@answer.PercenterValue">
                                </td>
                                <input class="questionDetailID" type="hidden" value="@answer.QuestionDetailId" />
                                <input class="accountId" type="hidden" value="@Model.AccountId" />
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="input-group pt-2 p-0 d-flex justify-content-end">
                    <button id="btnSaveAndHere" type="submit" class="btn btn-primary">
                        <i class="fa fa-floppy-o"></i> Lưu dữ liệu
                    </button>
                    <div class="input-group-btn ms-2">
                        <a href="~/QuizDetail/Index?knowledgeId=@Model.KnowledgeId" class="btn btn-light">
                            Quay lại
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">


        var editor = CKEDITOR.replace('QuestionText', {
            // Vô hiệu hóa dịch vụ đám mây nếu bạn không sử dụng chúng
            removePlugins: 'easyimage,cloudservices',
        });

        editor.on('change', function (evt) {
            console.log('Data: ' + evt.editor.getData());
            $('#QuestionText').text(evt.editor.getData());
        });

        $(document).ready(function () {
            // bắt sự kiện thêm dòng mới
            // $('#addrow').click(function () {
            //     const itemRow = `<tr class="answerItem">
            //                                 <input class="quizQuestionAnswerID" type="hidden" value="0" />
            //                                 <td style="width:35px " class="p-1 ">
            //                                     <a href="javascript:void(0)" class="btn btn-light text-black delete-row" data-quizQuestionAnswerID=""
            //                                     style="padding: 5px 5px; font-size: 20px">
            //                                     <i class="bi bi-trash"></i>
            //                                     </a>
            //                                 </td>
            //                                 <td><input type="text" name="AnswerText" class="form-control answerText" placeholder="Nhập đáp án" aria-label="Answer_Text">
            //                                  </td>
            //                                 <td>
            //                                     <select class="form-control isCorrect" name="IsCorrect">
            //                                         <option value="0">Sai</option>
            //                                         <option value="1">Đúng</option>
            //                                     </select>
            //                                 </td>
            //                                 <td>
            //                                     <input type="number" name="PercenterValue" class="form-control percenterValue" placeholder="Nhập trọng số điểm" aria-label="PercenterValue">
            //                                 </td>
            //                                 <input class="questionDetailID" type="hidden" value="0" />
            //                                 <input class="accountId" type="hidden" value="0" />
            //                             </tr>`;
            //     // thêm trước icon +
            //     const questionDetailID = $('#QuestionDetailID').val();
            //     if (questionDetailID == 0) {
            //         $(itemRow).insertBefore('#myTableBody tr:last-child');
            //     } else {
            //         $('#myTableBody').append(itemRow);
            //     }

            //     // // bắt sự kiện xoá dòng
            //     // $('.delete-row').off('click').on('click', function (e) {
            //     //     e.preventDefault();
            //     //     const isDeleteRow = confirm('Bạn chắc chắn muốn xoá dòng này?');
            //     //     if (!isDeleteRow) {
            //     //         return;
            //     //     }
            //     //     $(this).closest('tr').remove();
            //     // });
            // });

            // // bắt sự kiện xoá dòng
            // $('.delete-row').off('click').on('click', function (e) {
            //     e.preventDefault();
            //     const isDeleteRow = confirm('Bạn chắc chắn muốn xoá dòng này?');
            //     if (!isDeleteRow) {
            //         return;
            //     }
            //     $(this).closest('tr').remove();

            //     const quizQuestionAnswerID = $(this).attr('data-quizQuestionAnswerID');
            //     if (quizQuestionAnswerID) {
            //         alert(`Gọi api xoá câu trả lời với mã ${quizQuestionAnswerID}`)
            //     }
            // });

            // xử lý tạo mới và ở lại
            $('#btnSaveAndHere').click(function (e) {
                e.preventDefault();

                let quizQuestionAnswers = [];

                const answerItems = $('.answerItem').map(function (i, e) {
                    const answerText = $(this).find('.answerText').val();
                    const isCorrect = +($(this).find('.isCorrect').val()) == 0 ? false : true;
                    const percenterValue = +($(this).find('.percenterValue').val());
                    const questionDetailID = +($(this).find('.questionDetailID').val());
                    const accountId = +($(this).find('.accountId').val());
                    const quizQuestionAnswerID = +($(this).find('.quizQuestionAnswerID').val());

                    const quizQuestionAnswer = {
                        "QuizQuestionAnswerID": quizQuestionAnswerID,
                        "AnswerText": answerText,
                        "IsCorrect": isCorrect,
                        "PercenterValue": percenterValue,
                        "QuestionDetailId": questionDetailID,
                        "QuestionDetail": null,
                        "AccountId": accountId
                    };

                    quizQuestionAnswers.push(quizQuestionAnswer);
                });

                console.log('quizQuestionAnswers: ', quizQuestionAnswers);

                $('#QuizQuestionAnswers').val(JSON.stringify(quizQuestionAnswers))
                $('#QuizQuestionAnswersStr').val(JSON.stringify(quizQuestionAnswers))

                const dataDto = {
                    QuestionDetailID: $('#QuestionDetailID').val(),
                    KnowledgeId: $('#KnowledgeId').val(),
                    QuestionType: $('#QuestionType').val(),
                    QuestionPoint: $('#QuestionPoint').val(),
                    QuestionText: $('#QuestionText').text(),
                    QuizQuestionAnswers: $('#QuizQuestionAnswers').val(),
                    QuizQuestionAnswersStr: $('#QuizQuestionAnswersStr').val(),
                }

                console.log('==> dataDto: ', dataDto);

                // gọi ajax
                $.ajax({
                    url: "/QuizDetail/Delete",
                    method: "POST",
                    data: dataDto,
                    success: function (data) {
                        console.log('==> data: ', data);
                        if (!data) {
                            alert('Có sự cố xảy ra!');
                            return;
                        }
                        alert('Đã tạo thành công!');

                        $('#QuestionDetailID').val('');
                        $('#KnowledgeId').val('');
                        $('#QuestionType').val('');
                        $('#QuestionPoint').val('');
                        $('#QuestionText').text('');
                        $('#QuizQuestionAnswers').val('');
                        $('#QuizQuestionAnswersStr').val('');
                    },
                    error: function (err) {
                        console.log('==> error: ', err);
                        alert('Tạo thất bại!');
                    }
                });
            });
        });

    </script>
}