@using UMS.Quiz.Web.Constants;
@model UMS.Quiz.Web.Models.QuestionDetailSearchResult
@{
    Layout = null;
}
<div>
    <p style="margin:10px 0 10px 0">
        Có <strong>@Model.RowCount</strong> Câu hỏi trắc nghiệm @* <strong>@Model.PageCount</strong> trang *@
    </p>
    @if (Model.Data.Count == 0)
    {
        <p class="text-center text-danger">Không tìm thấy kết quả nào.</p>
    }
    <!-- Hiển thị kết quả tìm kiếm -->
    <div class="mt-3">
        <table class="table table-bordered">
            <thead class="bg-light">
                <tr>
                    <th style="width:30px">STT</th>
                    <th>Nội dung câu hỏi</th>
                    <th style="width:230px" class="text-start">Kiểu câu hỏi</th>
                    <th style="width:55px" class="text-center">Điểm:</th>
                    <th style="width:110px" class="text-center">
                        <a href="~/QuizDetail/Create?knowledgeId=@Model.KnowledgeId" class="btn btn-success" style="padding: 1px 6px; font-size: 20px">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int oldQuestionDetailId = 0;
                    int showIndex = 0;
                    int orderAnswer = 0;
                    char[] alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
                }
                @for (var index = 0; index < Model.Data.Count; index++)
                {
                    var item = Model.Data[index];

                    var countAnswersInQuestion = Model.Data.Where(q => q.QuestionDetailID == item.QuestionDetailID).ToList().Count;

                    showIndex = oldQuestionDetailId != item.QuestionDetailID ? showIndex + 1 : showIndex;
                    <tr>
                        @if (oldQuestionDetailId != item.QuestionDetailID)
                        {
                            <td rowspan="@(oldQuestionDetailId != item.QuestionDetailID ? countAnswersInQuestion : "")">
                                @(oldQuestionDetailId != item.QuestionDetailID ? @showIndex : "")
                            </td>
                        }
                        <td >
                            <div class="d-flex flex-column col-xl-10 text-start">
                                @if (oldQuestionDetailId != item.QuestionDetailID)
                                {
                                    <p class="mb-3 text-sm fw-bold questionText">@item.QuestionText</p>
                                    orderAnswer = 0;
                                }
                                else
                                {
                                    orderAnswer++;
                                }
                                <div class="pt-1 px-3 pb-2">
                                    @foreach (var answer in item.QuizQuestionAnswers)
                                    {
                                        <div class="d-flex align-items-center">
                                            <p id="@answer.AnswerText" class="text-lg-start @(answer.IsCorrect ? "text-primary text-bold" : "")">
                                                @alpha[orderAnswer]. <span class="text-xs">@answer.AnswerText</span>
                                            </p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </td>

                        @if (oldQuestionDetailId != item.QuestionDetailID)
                        {
                            @if (item.QuestionType == 1)
                            {
                                <td rowspan="@countAnswersInQuestion">
                                    1 đáp án
                                   
                                </td>
                            }
                            @if (item.QuestionType == 2)
                            {
                                <td rowspan="@countAnswersInQuestion">
                                    nhiều đáp án

                                </td>
                            }
                            @if (item.QuestionType == 3)
                            {
                                <td rowspan="@countAnswersInQuestion">
                                    điền từ
                                </td>
                            }

                            <td rowspan="@countAnswersInQuestion">@item.QuestionPoint</td>
                            <td rowspan="@countAnswersInQuestion" class="text-center">
                                <a href="~/QuizDetail/Edit/@item.QuestionDetailID" class="btn btn-xs btn-info">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a href="~/QuizDetail/Delete/@item.QuestionDetailID" class="btn btn-xs btn-danger btn-delete">
                                    <i class="bi bi-x-circle-fill"></i>
                                </a>
                            </td>
                            oldQuestionDetailId = item.QuestionDetailID;
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Phân trang -->
    @* <div class="box-footer text-center">
        <ul class="pagination d-flex justify-content-center">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="active page-item"><a class="page-link">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="javascript:;" onclick="doSearch('#formSearch', @i)">@i</a></li>
                }
            }
        </ul>
    </div> *@
</div>

@section scripts {
    <script>
    
</script>
}