@using UMS.Quiz.Web.Constants;
@model UMS.Quiz.Web.Models.QuestionDetailSearchResult
@{
    Layout = null;
}
<div>
    <p style="margin:10px 0 10px 0">
        Có <strong>@Model.RowCount</strong> khối kiến thức trong tổng số <strong>@Model.PageCount</strong> trang
    </p>
    @if (Model.Data.Count == 0)
    {
        <p class="text-center text-danger">Không tìm thấy kết quả nào.</p>
    }
    <!-- Hiển thị kết quả tìm kiếm -->
    <div class="mt-3">
        <table class="table table-bordered">
            <thead class="bg-light">
                <tr>
                    <th style="width:30px">STT</th>
                    <th>Nội dung câu hỏi</th>
                    <th style="width:230px" class="text-start">Kiểu câu hỏi</th>
                    <th style="width:55px" class="text-center">Điểm:</th>
                    <th style="width:110px" class="text-center">
                        <a href="~/QuizDetail/Create" class="btn btn-success" style="padding: 1px 6px; font-size: 20px">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (var index = 0; index < Model.Data.Count; index++)
                {
                    var item = Model.Data[index];
                    <tr>
                        <td>@(index + 1)</td>
                        <td>
                            <div class="d-flex flex-column col-xl-10 text-start">
                                <p class="mb-3 text-sm fw-bold">@item.QuestionText</p>
                                <div class="pt-1 px-3 pb-2">
                                    @* Hiển thị các đáp án của câu hỏi *@
                                    <div class="d-flex align-items-center">
                                        <p class="text-lg-start">a. <span class="text-xs">Đáp án a</span></p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-lg-start">b. <span class="text-xs">Đáp án b</span></p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-lg-start">c. <span class="text-xs">Đáp án c</span></p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-lg-start">d. <span class="text-xs">Đáp án d</span></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>@item.QuestionType</td>
                        <td>@item.QuestionPoint</td>
                        <td class="text-center">
                            <a href="~/QuizDetail/Edit/@item.QuestionDetailID" class="btn btn-xs btn-info">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a href="~/QuizDetail/Delete" class="btn btn-xs btn-danger delete-quiz">
                                <i class="bi bi-x-circle-fill"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Phân trang -->
    <div class="box-footer text-center">
        <ul class="pagination d-flex justify-content-center">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="active page-item"><a class="page-link">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="javascript:;" onclick="doSearch('#formSearch', @i)">@i</a></li>
                }
            }
        </ul>
    </div>
</div>
